.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #1c1b1f;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  text-align: center;
  padding: 4px;
  color: yellow;
  transition: color 0.3s ease;
}
.titulo:hover {
  color: chocolate;
  transition: 2s;
}

.login_box {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  border-radius: 30px; /* Borde de radio de 5px */
  background: #7d5260;
}

.login_box h1 {
  margin-bottom: 20px;
  text-align: center;
  border-radius: 2px solid red;
}

.login_input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.login_input_container label {
  font-size: 12px;
  opacity: 0.6;
}

.login_input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login_button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.login_button:hover {
  background-color: #0056b3;
}
